.popup__button-close {
   position: absolute;
   padding: 0;
   right: -40px;
   top: -40px;
   background-image: url(../../../images/CloseIcon.svg);
   width: 32px;
   height: 32px;
   background-color: transparent;
   background-repeat: no-repeat;
   border: 0;
   cursor: pointer;
   background-position: center;
   transition: opacity linear 0.5s;
}

.popup__button-close:hover {
   opacity: 0.6;
}

@media screen and (max-width: 500px) {
   .popup__button-close {
      width: 20px;
      height: 20px;
      top: -36px;
      right: 0;
      background-size: 20px;
   }
}