.popup__container {
   position: relative;
   width: 430px;
   background-color: white;
   border-radius: 10px;
   z-index: 2;
   padding: 36px;
   box-sizing: border-box;
}

@media screen and (max-width: 500px) {
   .popup__container {
      width: 282px;
      padding: 25px 22px;
   }
}
