.header {
   display: flex;
   box-sizing: border-box;
   width: 100%;
   justify-content: space-between;
   max-width: 880px;
   border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

.header_link {
   color: white;
   text-decoration: none;
   max-height: 22px;
   font-size: 18px;
   line-height: 1.22;
   transition: opacity linear 0.5s;
}

.header_link:hover {
   opacity: 0.6;
}
